[submodule "src/Cbuilder"]
	path = src/Cbuilder
	url = https://github.com/IlyaShurupov/CBuilder.git
[submodule "src/Nodes"]
	path = src/Nodes
	url = https://github.com/IlyaShurupov/Nodes.git
[submodule "src/Ma-SoftwareRayTracing"]
	path = src/Ma-SoftwareRayTracing
	url = https://github.com/IlyaShurupov/Ma-SoftwareRayTracing
[submodule "src/PyEmb"]
	path = src/PyEmb
	url = https://github.com/IlyaShurupov/PyEmbedding
[submodule "src/PyGraph"]
	path = src/PyGraph
	url = https://github.com/IlyaShurupov/PyGraph
[submodule "src/nanovg"]
	path = src/nanovg
	url = https://github.com/IlyaShurupov/nanovg.git
[submodule "src/glew"]
	path = src/glew
	url = https://github.com/IlyaShurupov/glew.git
[submodule "src/glfw"]
	path = src/glfw
	url = https://github.com/IlyaShurupov/glfw.git
