[submodule "src/Cbuilder"]
	path = src/Cbuilder
	url = https://github.com/IlyaShurupov/CBuilder.git
[submodule "src/Nodes"]
	path = src/Nodes
	url = https://github.com/IlyaShurupov/Nodes.git
[submodule "src/Ma-SoftwareRayTracing"]
	path = src/Ma-SoftwareRayTracing
	url = https://github.com/IlyaShurupov/Ma-SoftwareRayTracing
[submodule "src/PyEmbedding"]
	path = src/PyEmbedding
	url = https://github.com/IlyaShurupov/PyEmbedding.git
[submodule "src/PyGraph"]
	path = src/PyGraph
	url = https://github.com/IlyaShurupov/PyGraph
[submodule "src/nanovg"]
	path = src/nanovg
	url = https://github.com/IlyaShurupov/nanovg.git
[submodule "src/glew"]
	path = src/glew
	url = https://github.com/IlyaShurupov/glew.git
[submodule "src/glfw"]
	path = src/glfw
	url = https://github.com/IlyaShurupov/glfw.git
[submodule "src/Types"]
	path = src/Types
	url = https://github.com/IlyaShurupov/Types.git
[submodule "src/Objects"]
	path = src/Objects
	url = https://github.com/IlyaShurupov/Objects.git
[submodule "src/Nodes-new"]
	path = src/Nodes-new
	url = https://github.com/IlyaShurupov/Nodes-new.git
[submodule "src/lalr"]
	path = src/lalr
	url = https://github.com/IlyaShurupov/lalr.git
[submodule "src/language"]
	path = src/language
	url = https://github.com/IlyaShurupov/language.git
