# all files to exclude from save
desktop.ini

#windows
osini.lnk

$RECYCLE.BIN
.sync
desktop.ini
osinit.lnk
rulles.py
docs
osini

#cache files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
install_manifest.txt
compile_commands.json
__pycache__/
*.py[cod]

$RECYCLE.BIN

# recreatable files
.vs
.vscode
.idea
bin
lib
tmp
data

# large || unimportant sources  // todo: create link refs in git
30DayOs
blenroot
cpython
Python310
glm
godot
linux
MITrasterizer
nanogui
pybind11
python-vsgen
raytracer-cpu
SDL2
SDL2_image
SimpleRE
tcc
UnrealEngine
Vulkan-Samples
NdObject
sci
libdivide
PyEmb
filesystem